body {
  background-color: black;
  background-image: url(images/fade.jpg);
  background-repeat: no-repeat;
  background-size: 500px 800px;
}

.main-container {
  margin: 250px 100px 50px 450px;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 65px;
  margin-bottom: 15px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}

p {
  font-family: "Special Elite", cursive;
}

.book-now {
  padding: 10px 30px;
}
